.section-content {
  display: flex;
  justify-content: center; /* horizontal centering */
  align-items: center;     /* vertical centering */
  min-height: 300px;       /* or set a height if needed */
  margin-top: 10px;
}

.centered-box {
  text-align: center;
  background-color: white;
  padding: 20px 30px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  max-width: 600px;
}


.full-page-section {
  width: 70vw;             /* Full viewport width */
  /* Full height minus navbar height (e.g., 64px if using mat-toolbar) */
  justify-content: center;
  align-items: center;
  background-color: #f8f8f8; /* Optional: set a background */
  padding: 5px;
  box-sizing: border-box;
}



.centered-content {
  text-align: center;
  max-width: 700px;
  padding: 80px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}


.profile-name {
  font-size: 15px;
  text-align: center;
  background-color: #e0e0e0;   /* light gray */
  color: #333;                 /* dark text */
  padding: 4px 13px;
  border-radius: 16px;
  display: inline-block;
  font-weight: 500;
  margin: 2px 2px 2px 0;
}

ul {
  list-style: none;      /* Remove default bullets if needed */
  padding-left: 0;       /* Optional: remove default padding */
  text-align: left;      /* Ensures left alignment */
  margin: 0 auto;        /* Centers the list block itself */
  max-width: 800px;      /* Optional: limits the width nicely */
}

li {
  margin-bottom: 10px;   /* Space between each skill category */
}