
<div #inicio id="inicio">
<div class="section-content">

  <div class="centered-content-inicio">
    <h2 class="st" style="padding-top: 20px;">Inicio</h2>
   <p style="  text-align: justify;padding-top: 20px;">Soy ingeniero desarrollador con un enfoque  en el diseño e implementación de soluciones modernas, seguras y escalables. Me especializo en la creación de aplicaciones web utilizando tecnologías de vanguardia como Angular para el desarrollo del frontend y Spring Boot para la lógica del backend. Me interesa construir sistemas eficientes que brinden una experiencia de usuario fluida, manteniendo siempre buenas prácticas de desarrollo, seguridad y arquitectura. Además, busco constantemente aprender y aplicar nuevas herramientas que optimicen los procesos de desarrollo y despliegue en entornos productivos. </p>
  </div>

</div>
</div>

<div #habilidades id="habilidades">
<div class="section-content">
   <div class="centered-content">
 <div *ngIf="activeSection === 'inicio'">
    <!-- Habilidades content -->
    <h2 class="st">Habilidades</h2>
  <ul>
  <li><strong>Frontend:</strong>
       <br>
    <span class="profile-name"><i class="fab fa-angular"></i> Angular 16+</span>
     
    <span class="profile-name"><i class="fab fa-html5"></i> HTML</span>
     
    <span class="profile-name"><i class="fab fa-css3-alt"></i> CSS</span>
     
    <span class="profile-name"><i class="fab fa-js"></i> JavaScript</span>

    <span class="profile-name"><i class="fas fa-code"></i> TypeScript</span>
  </li>

  <li><strong>Backend:</strong>
       <br>
    <span class="profile-name"><i class="fas fa-leaf"></i> Spring Boot</span>
     
    <span class="profile-name"><i class="fab fa-java"></i> Java 17+</span>

    <span class="profile-name"><i class="fas fa-bug"></i> JUnit</span>
     
    <span class="profile-name"> <i class="fas fa-box"></i> Maven</span>
     
    <span class="profile-name"><i class="fas fa-link"></i> REST APIs</span>
     
    <span class="profile-name"><i class="fas fa-cubes"></i> Microservicios</span>
  </li>

  <li><strong>Base de datos:</strong>
       <br>
    <span class="profile-name"><i class="fas fa-database"></i> SQL Server</span>
     
    <span class="profile-name"><i class="fas fa-database"></i> PostgreSQL</span>
     
    <span class="profile-name"><i class="fas fa-database"></i> MongoDB</span>
  </li>

  <li><strong>Cloud:</strong>
    <br>
    <span class="profile-name"><i class="fab fa-aws"></i> AWS</span>
     
    <span class="profile-name"><i class="fas fa-server"></i> EC2</span>
     
    <span class="profile-name"><i class="fas fa-box-open"></i> S3</span>
     
    <span class="profile-name"><i class="fas fa-route"></i> Route 53</span>
     
    <span class="profile-name"><i class="fas fa-network-wired"></i> VPC</span>
     
    <span class="profile-name"><i class="fas fa-balance-scale"></i> Load Balancing</span>
     
    <span class="profile-name"><i class="fab fa-github"></i> GitHub</span>
     
    <span class="profile-name"><i class="fas fa-wifi"></i> Redes</span>
     
  </li>

  <li><strong>Inglés:</strong> 
       <br>
    <span class="profile-name"><i class="fas fa-language"></i> B2</span>
  </li>
</ul>
  </div>
</div>
</div>
</div>

<div #proyectos id="proyectos">
<div class="section-content">

      <div class="project-list">
  
        <div class="ok">
      <h2 class="st">Proyectos</h2>
      
       <p>Estos son algunos de mis proyectos destacados live:</p>
       </div>


        <div class="project-card">
         <h3><i class="fas fa-star"></i> Aplicación análisis de vulnerabilidades en una red ante un evento disruptivo
</h3>
          <p class="subtitle"><i class="fas fa-shield-alt"></i> Análisis de vulnerabilidades app</p>
          <p>Aplicación que genera análisis para la deteccion de vulnerabilidades en una red electrica y donde se pueden ver datos de los escenarios segun los nodos de la red.</p>
         <p> Esta aplicación cuenta con los modulos de registro local, creación análisis de casos según los nodos del escenario ,visualización de los reportes generados y el modulo de descargar el reporte del análisis.</p>
      
          <p><strong>Tecnologías:</strong> </p>
               <span class="profile-name"><i class="fab fa-angular"></i> Angular</span>
               <span class="profile-name"><i class="fab fa-aws"></i> AWS</span>
          <div>
 <a href="https://applicationsdeployed.com/" target="_blank" rel="noopener noreferrer">
 https://applicationsdeployed.com/
</a>
          </div>
         
        </div>

       <div class="project-card">
         <h3><i class="fas fa-star"></i> Aplicación de peliculas
</h3>
             <p class="subtitle"><i class="fas fa-shield-alt"></i> Peliculas app</p>
         <p>Esta aplicación muestra las películas contenidas en el objeto proporcionado por la API REST del microservicio desarrollado en Java Spring.</p>
          <p><strong>Tecnologías:</strong>  </p>
            <span class="profile-name"><i class="fab fa-angular"></i> Angular</span>
               <span class="profile-name"><i class="fab fa-aws"></i> AWS</span>
                <span class="profile-name"><i class="fas fa-leaf"></i> Spring Boot</span>
               <div>
          <a href="https://applicationsdeployed.com/app2/" target="_blank" rel="noopener noreferrer">
 https://applicationsdeployed.com/app2/
</a>
</div>
        </div>

        <div class="project-card">
         <h3><i class="fas fa-star"></i> Aplicación de Pinturas de Animales
</h3>
          
             <p class="subtitle"><i class="fas fa-shield-alt"></i> Animal Painting app</p>
         <p> Esta aplicación  muestra las pinturas contenidas en el objeto proporcionado por la API REST del microservicio desarrollado en Java Spring.</p>
          <p><strong>Tecnologías:</strong></p>

 <span class="profile-name"><i class="fab fa-angular"></i> Angular</span>
               <span class="profile-name"><i class="fab fa-aws"></i> AWS</span>
                <span class="profile-name"><i class="fas fa-leaf"></i> Spring Boot</span>
<div>
          <a href="https://applicationsdeployed.com/app3/" target="_blank" rel="noopener noreferrer">
https://applicationsdeployed.com/app3/
</a>
</div>
        </div>

        <!-- Puedes seguir agregando más project-card aquí -->
      </div>
      <!-- 🔼 Project Cards End Here -->
  </div>
</div>