
<div class="section-content">
<div *ngIf="activeSection === 'inicio'" class="full-page-section">
  <div class="centered-content">
    <h2 class="st">Inicio</h2>
   <p>Soy desarrollador full Stack semi senior, tengo un  enfoque principalmente en  el diseño e implementacion  de soluciones  modernas, seguras  y  escalables : utilizando Angular para el frontend y Spring Boot para el backend. </p>
  </div>
</div>
</div>

<div class="section-content">
<div *ngIf="activeSection === 'inicio'" class="full-page-section">
   <div class="centered-content">
 <div *ngIf="activeSection === 'inicio'">
    <!-- Habilidades content -->
    <h2 class="st">Habilidades</h2>
  <ul>
  <li><strong>Frontend:</strong> 
    <span class="profile-name"><i class="fab fa-angular"></i> Angular 16+</span>
    <span class="profile-name"><i class="fab fa-html5"></i> HTML</span>
    <span class="profile-name"><i class="fab fa-css3-alt"></i> CSS</span>
    <span class="profile-name"><i class="fab fa-js"></i> TypeScript</span>
  </li>

  <li><strong>Backend:</strong>
    <span class="profile-name"><i class="fas fa-leaf"></i> Spring Boot</span>
    <span class="profile-name"><i class="fab fa-java"></i> Java 11</span>
    <span class="profile-name"><i class="fas fa-link"></i> REST APIs</span>
    <span class="profile-name"><i class="fas fa-cubes"></i> Microservicios</span>
  </li>

  <li><strong>Base de datos:</strong>
    <span class="profile-name"><i class="fas fa-database"></i> MySQL</span>
    <span class="profile-name"><i class="fas fa-database"></i> PostgreSQL</span>
    <span class="profile-name"><i class="fas fa-database"></i> MongoDB</span>
  </li>

  <li><strong>Cloud:</strong> 
    <span class="profile-name"><i class="fab fa-aws"></i> AWS</span>
    <span class="profile-name"><i class="fas fa-server"></i> EC2</span>
    <span class="profile-name"><i class="fas fa-box-open"></i> S3</span>
    <span class="profile-name"><i class="fas fa-route"></i> Route 53</span>
    <span class="profile-name"><i class="fas fa-network-wired"></i> VPC</span>
    <span class="profile-name"><i class="fas fa-balance-scale"></i> Load Balancing</span>
    <span class="profile-name"><i class="fab fa-github"></i> GitHub</span>
    <span class="profile-name"><i class="fas fa-wifi"></i> Redes</span>
  </li>

  <li><strong>Inglés:</strong>  
    <span class="profile-name"><i class="fas fa-language"></i> B2</span>
  </li>
</ul>
  </div>
</div>
</div>
</div>



<div class="section-content">
<div *ngIf="activeSection === 'inicio'" class="full-page-section">
  <div class="centered-content">

    <div *ngIf="activeSection === 'inicio'">
    <!-- Proyectos content -->
    <h2 class="st">Proyectos</h2>
    <p>Estos son algunos de mis proyectos destacados.</p>
  </div>

    </div>
</div>
</div>