
<div class="section-content">
<div *ngIf="activeSection === 'inicio'" class="full-page-section">
  <div class="centered-content">
    <h2>Inicio</h2>
   <p>Soy desarrollador full Stack con un año de experiencia , tengo un  enfoque principalmente en  el diseño e implementacion  de soluciones  modernas, seguras  y  escalables : utilizando Angular para el frontend y Spring Boot para el backend. </p>
  </div>
</div>
</div>

<div class="section-content">
<div *ngIf="activeSection === 'inicio'" class="full-page-section">
   <div class="centered-content">
 <div *ngIf="activeSection === 'inicio'">
    <!-- Habilidades content -->
    <h2>Habilidades</h2>
    <ul>
     <li><strong>Frontend:</strong> 

       <span class="profile-name">Angular 16+</span>
      <span class="profile-name">HTML</span>
      <span class="profile-name">CSS</span>
      <span class="profile-name">TypeScript</span>
      
      </li>
  <li><strong>Backend:</strong>
           <span class="profile-name">Spring Boot</span>
      <span class="profile-name">Java 11</span>
      <span class="profile-name">REST APIs</span>
      <span class="profile-name">Microservicios</span>
     
      
      </li>
  <li><strong>Base de datos:</strong>
     <span class="profile-name">MySQL</span>
      <span class="profile-name">PostgreSQL</span>
      <span class="profile-name">MongoDB</span>
     
      </li>
 <li><strong>Cloud:</strong> 
    <span class="profile-name">AWS</span>
      <span class="profile-name">EC2</span>
      <span class="profile-name">S3</span>
        <span class="profile-name">Route 53</span>
      <span class="profile-name">VPC</span>
      <span class="profile-name">Load Balancing</span>
        <span class="profile-name">Git Hub</span>
      <span class="profile-name">Redes</span>

</li>
 <li><strong>Ingles:</strong>  
 <span class="profile-name">B2</span>
</li>
    </ul>
  </div>
</div>
</div>
</div>

<div class="section-content">
<div *ngIf="activeSection === 'inicio'" class="full-page-section">
  <div class="centered-content">

    <div *ngIf="activeSection === 'inicio'">
    <!-- Proyectos content -->
    <h2>Proyectos</h2>
    <p>Estos son algunos de mis proyectos destacados.</p>
  </div>

    </div>
</div>
</div>