<mat-toolbar class="custom-toolbar">
<a class="logo" >MyPortafolio</a>

  <span class="spacer"></span>

  <nav class="nav-links">
    <a class="center-text" routerLink="/inicio">Inicio</a>
    <a class="center-text" routerLink="/habilidades">Habilidades</a>
    <a class="center-text" routerLink="/proyectos">Proyectos</a>
  </nav>

  <span class="spacer"></span>
    <span class="right-text">John SG</span>
</mat-toolbar>


<div class="main-container">
  <!-- Column 1: Left Spacing -->
  <div class="col empty"></div>

  <!-- Column 2: Photo -->
  <div class="col photo">
  
<div class="profile-container">
  <img src="assets/photo.jfif" alt="Mi Foto" class="profile-img">
  <span class="profile-name">JOHN SEBASTIAN GUERRERO PINTO</span>
</div>

  </div>

  <!-- Column 3: Text -->
<div class="col text">
  <div class="card-box">
    <span><strong>Bienvenidos a MyPortafolio!</strong> Es un espacio creado para conocer un poco más sobre mí.</span>
  </div>
</div>

  <!-- Column 4: Right Spacing -->
  <div class="col empty"></div>

</div>
  <mat-divider></mat-divider>

<router-outlet />