


<mat-toolbar class="custom-toolbar">
  <span class="spacer"></span>
  <nav class="nav-links">
    <a class="logo" >MyPortafolio</a>
    <a class="center-text" [routerLink]="['/main']" fragment="inicio">Inicio</a>
    <a class="center-text" [routerLink]="['/main']" fragment="habilidades">Habilidades</a>
    <a class="center-text" [routerLink]="['/main']" fragment="proyectos">Proyectos</a>
  </nav>
  <span class="spacer"></span>
</mat-toolbar>

<div class="main-container">
  <div class="col empty"></div>
  <!-- Column 2: Photo -->
   
  <div class="col photo">
    <div class="card-wrapper">
<div class="profile-container">
  <img src="assets/photo.jfif" alt="Mi Foto" class="profile-img">
  <span class="profile-name">JOHN SEBASTIAN GUERRERO PINTO</span>
</div>
</div>
  </div>
  <!-- Column 3: Text -->
<div class="col text">
  <div class="card-wrapper">
  <div class="card-box">
    <div class="intro-text">
      <span><strong>Bienvenidos a MyPortafolio!</strong></span>
      <div style="padding-top: 10px;">
        <span>Es un espacio creado para conocer un poco más sobre mis habilidades y proyectos.</span>
      </div>

      <div class="Linkedin" style="margin-top: 20px;">
        <span>Puedes visitar mis redes sociales para saber más sobre mi educación  experiencia y más:</span>

        <div class="social-icons">
          <a href="https://www.linkedin.com/in/john-sebastian-guerrero-pinto-414886331/" target="_blank" rel="noopener noreferrer">
            <i class="fab fa-linkedin"></i> LinkedIn
          </a>
          <a href="https://github.com/JossguerreroP" target="_blank" rel="noopener noreferrer">
            <i class="fab fa-github"></i> GitHub
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>
  <mat-divider></mat-divider>

    <!--
  <router-outlet />
       -->

        <!--
  <router-outlet />
  
       -->


        <div class="page-wrapper-foot">
    <!-- Navbar -->
    <!-- Contenido principal -->
    <div class="main-container">...</div>

    <!-- Footer -->
   <footer class="site-footer">
  <p>&copy; 2025 MyPortafolio</p>
  <p>Desarrollado por John Sebastian Guerrero Pinto</p>
  <p>Contacto sevasguerrero&#64;gmail.com</p>
</footer>
  </div>















